:root {
    
    /* colors */
    --purple: #7276e1;
    --orange: hsl(14, 88%, 65%);
    --blue-dark: hsl(238, 29%, 16%);
    --grey-light: hsl(237, 12%, 33%);
    --blue-mid: hsl(240, 6%, 50%);

    /* fonts */
    --font: 'Kumbh Sans', sans-serif;
    --base-font-size: 1.2rem;

}

.attribution { 
    color: #fff;
    font-size: 11px; 
    margin-top: 25px;
    text-align: center;  
}

.attribution a { color:#fff; }

{ box-sizing: border-box; }

html {
    font-size: 10px;
}

#help{ 
    align-items: center;
    background-image: linear-gradient(-180deg,  hsl(273, 75%, 66%),hsl(240, 73%, 65%)); 
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    font-weight: 400;
    height: 100vh;
    justify-content: center;
    padding: 0;
}*/

.faq { 
    background-color: #fff;
    border-radius: 25px;
    padding: 50px 25px;
    margin: 150px 5% 5% 5%;
    min-width: 320px;
    max-width: 320px;
}

.faq__logo {
    background: url('https://bobmatyas.github.io/fm-faq-accordion/images/bg-pattern-mobile.svg') center bottom no-repeat;
    background-color: transparent;
    margin: 0 auto;
    max-width: 300px;
    padding: 0;
    margin-top: -157px;
}

.faq__logo__image {
    margin-left: -13px;
    margin-bottom: 13px;
}

.faq__heading { 
    color: var(--blue-dark);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center; 
}

.faq__detail {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 20px 0 0 0;
    padding: 5px 0 20px 0;
}

.faq__summary:hover,
.faq__summary:active { 
    color: var(--orange);
    cursor: pointer; 
}

.faq__detail[open] > .faq__summary { 
    font-weight: 700; 
}

.faq__summary {
    list-style: none;
  }

.faq__summary::-webkit-details-marker {
    display: none;
  }

.faq__summary { 
    display: block;
    padding: 0;
    position: relative;
    text-align: right;
}

    
.faq__summary:after {
    display: inline-block;
    content: url("https://bobmatyas.github.io/fm-faq-accordion/images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right center;
    text-align: right;
    padding-bottom: 20px;
  }
  
details[open] .faq__summary:after {
    display: inline-block;
    width: 18px;
    height: 10px;
    content: "";
    background-image: url("https://bobmatyas.github.io/fm-faq-accordion/images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center right;
    transform:scaleY(-1);
}
  

.faq__question {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 90%;
}

.faq__question {
    display: inline-block;
    margin: 5px 0;
    text-align: left;
    width: 90%;
}

.faq__summary {
    color: var(--blue-dark);
    font-size: 1.4rem; 
}

.faq__summary:focus {
    color: var(--orange); 
    font-weight: bold;
    outline: none;
}

.faq__text {
    color: var(--blue-mid);
    font-size: var(--base-font-size);
    line-height: 1.6;
    margin: 10px 0 0 0;
}

.hidden-lg { display: block; }
    
.visible-lg { display: none; }


@media (min-width: 900px) {
    .faq {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-width: 900px;
        padding: 0;
        margin: 0;
    }

    .faq__logo__holder { 
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    .faq__holder {
        margin: 0 50px;
        padding: 70px 0;
        max-width: 350px;
        width: 350px;
    }

    .faq__logo {
        display: flex;
        align-items: center;
        background-image: url(https://bobmatyas.github.io/fm-faq-accordion/images/illustration-woman-online-desktop.svg), url(https://bobmatyas.github.io/fm-faq-accordion/images/bg-pattern-desktop.svg);
        background-position: -75px center, -571px -270px;
        background-size: 100%, 200%;
        height: 100%;
        min-width: 300px;
        margin: 0;
        padding: 0;
        width: 525px;
        max-width: 500px;
        position: relative;
    }

    .faq__heading {
        text-align: left;
    }

    .hidden-lg { display: none; }

    .visible-lg { 
        display: block; 
        position: absolute;
        margin-top: 120px;
        left: -80px;    
    }

    .faq__text {
        margin: 0 0 10px 0;
    }

    .faq__detail {
        margin: 10px 0 0 0 0;
        padding: 0;
    }
}





 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

*, *::before, *::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.gallery {
  position: relative;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery .box {
  position: relative;
  width: calc(100% / 3);
  height: 250px;
  perspective: 1000px;
  display: inline-flex;
  overflow: hidden;
}
.gallery .box .box-img {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.gallery .box .box-img .face {
  position: absolute;
  width: 200px;
  height: 200px;
}
.gallery .box .box-img .front {
  background: aliceblue;
  transform: translateZ(100px);
  opacity: 1;
}
.gallery .box .box-img .front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .box .box-img .move {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: #1c2845;
  transform: translateY(-100px) translateZ(0) rotateX(90deg);
}
.gallery .box .box-img .move h2, .gallery .box .box-img .move p {
  margin: 5px;
  color: #fff;
}
.gallery .box .box-img .move h2 {
  font-weight: bold;
}
.gallery .box .box-img .move p {
  font-size: 13px;
}
.gallery .box:hover .box-img {
  transform: rotateX(-90deg);
}
.gallery .box:nth-of-type(1) .move {
  transform: rotateY(-90deg) translateZ(100px);
}
.gallery .box:nth-of-type(1):hover .box-img {
  transform: rotateY(90deg);
}
.gallery .box:nth-of-type(3n+4) .move {
  transform: rotateY(-90deg) translateZ(100px);
}
.gallery .box:nth-of-type(3n+4):hover .box-img {
  transform: rotateY(90deg);
}
.gallery .box:nth-of-type(3n+3) .move {
  transform: rotateY(90deg) translateZ(100px);
}
.gallery .box:nth-of-type(3n+3):hover .box-img {
  transform: rotateY(-90deg);
}

.turntable{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 310px;
  height:280px;
  background: #9CD8BD;
  border-radius: 5%;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.7);
}

.record {
  position: absolute;
  left: 35px;
  top: 35px;
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: none;
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.record::before {
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 180px;
  height: 180px;
  background: repeating-radial-gradient(black, black 5px, #1C1C1C 6px, #1C1C1C 7px);
  border-radius: 50%;
}

.overlay {
  content: '';
  left: 35px;
  top: 35px;
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, transparent, 40%, rgba(255,255,255,0.35), 60%, transparent);
  border-radius: 50%;
}


.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background: linear-gradient(white, white 50%, #F796A8 50%, #F796A8);
  border-radius: 50%;
}

.inner::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}

.inner::after {
  content: '100 Days';
  width: 55px;
  text-align: center;
  font-family: sans-serif;
  font-size: 8px;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.arm-holder {
  position: absolute;
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 50%;
  right: 20px;
  top: 40px;
}

.arm-holder::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #939393;
  border-radius: 50%;
}

.arm {
  position: absolute;
  right: 13px;
  width: 60px;
  top: 10px;
  height: 110px;
  border: 10px solid #939393;
  transform: skew(-20deg, -20deg);
  transform-origin: top right;
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 0 0 30% 0;
  animation: armTwitch 0.5s infinite;
  animation-direction: alternate-reverse;
}

@keyframes armTwitch {
  0% {
     transform: skew(-20deg, -20deg);
  }
  
  100% {
    transform: skew(-20deg, -20deg) rotate(1deg);
  }
}

.arm::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 30px;
  background: gray;
  transform: skew(20deg, 20deg) rotate(75deg);
  top: 98px;
  left: -10px;
  border-radius: 20%;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.dial {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background: #333642;
  border-radius: 50%;
}

.dial::before {
  content: '';
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
  position: absolute;
  width: 2px;
  height: 5px;
  background: white;
  border-radius: 50%;
}



 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    font-size: 10px;
}

::-webkit-scrollbar{
  display: none;
}

.card {
    margin-top: 10rem;
    margin-bottom: 10rem;
    background: rgba(35, 39, 42, 0.75);
    color: #333;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 50rem;
    min-height: 30rem;
    border-radius: 2rem;
}

.hero {
    display: flex;
    justify-content: center;
    pointer-events: none;
    transform: translateY(-50%);
}
.hero .img {
 width: 100px;
 transform: rotateZ(-45deg);
 transition: all 0.5s ease-in-out;
}

.card:hover .img{
  transform: rotateZ(15deg);
  filter: drop-shadow(0rem 1.5rem rgba(0, 0, 0, 0.5));
  transition: all 0.5s ease-in-out;
}

.title {
  transition: all 0.5 ease;
  transform-style: preserve-3d;
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
  color: #c4c3c7;
  line-height: 5rem;
  text-shadow: 0 5px rgba(0, 0, 0, 0.5);
}

.acc-container {
    padding: 4rem 2rem;
}
.acc-btn {
    width: 100%;
    color: #c3c4c7;
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.2s linear;
}
.acc-btn:after {
    color: #faea0c;
    float: right;
    transition: all 0.3s linear;
}
.acc-btn.is-open:after {
    transform: translateZ(15px) rotateZ(90deg) rotateY(15deg);
}
.acc-btn:hover, .acc-btn.is-open {
    color: #fff;
    font-weight: 400;
    transform: rotateY(15deg);
    transition: all 0.2s linear;
}

.acc-content {
    max-height: 0;
    color: rgba(255,255,255, .8);
    font-size: 1.5rem;
    margin: 0 2rem;
    padding-left: 1rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1px solid #2C2F33;
}



#trivia
{
  margin:0px;
  padding:0px;
  font-family: "Open Sans", arial;
  background:url('https://static.tumblr.com/94eb957a00fd03c0c2f7d26decd71578/u1rhacw/osAmyyh1q/tumblr_static_tumblr_static_gaussian_blur_gradient_desktop_1680x943_wallpaper-393751.jpg');
  background-repeat: no-repeat;
  color:#fff;
  font-weight:300;

}


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.logo{
  
}

.settings {
  
  height:73px; 
  float:left;
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  background-repeat:no-repeat;
  width:250px;
  margin:0px;
 text-align: center;
font-size:20px;
font-family: 'Strait', sans-serif;

}






/* ScrolBar  */
.scrollbar
{

height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{

height: 90%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
/* Scrollbar End */ 




.fa-lg {
font-size: 1em;
  
}
.fa {
position: relative;
display: table-cell;
width: 55px;
height: 36px;
text-align: center;
top:12px; 
font-size:20px;

}



.main-menu:hover, nav.main-menu.expanded {
width:250px;
overflow:hidden;
opacity:1;

}

.main-menu {
background:#F7F7F7;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:55px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}

.main-menu>ul {
margin:7px 0;

}

.main-menu li {
position:relative;
display:block;
width:250px;
  


}

.main-menu li>a {
position:relative;
width:255px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#8a8a8a;
font-size: 13px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: 'Strait', sans-serif;
border-top:1px solid #f2f2f2;

text-shadow: 1px 1px 1px  #fff;  
}



.main-menu .nav-icon {
  
position:relative;
display:table-cell;
width:55px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;

}

.main-menu .nav-text  {
   
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu .share {
}



.main-menu .fb-like {

left: 180px;
position:absolute;
top: 15px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
  
}

.no-touch .scrollable.hover {
overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
  
}


/* Logo Hover Property */


.settings:hover, settings:focus {   
  background:url( https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

.settings:active, settings:focus {   
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}


a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;



}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
  
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;
}




/* Darker element side menu Start*/


.darkerli
{
background-color:#ededed;
text-transform:capitalize;  
}

.darkerlishadow
{
background-color:#ededed;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown
{
background-color:#ededed;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/




.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#00bbbb;
text-shadow: 0px 0px 0px; 
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}



.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
}
.cont .card-cont:hover .card {
  transform: rotatey(-180deg) translatey(-20px);
  box-shadow: 0 30px 30px #ccc;
}
.cont .card {
  width: 250px;
  height: 300px;
  transform-style: preserve-3d;
  position: relative;
  transition: all 1s, box-shadow 2.5s;
  border-radius: 20px;
  box-shadow: 0 0 60px #ccc;
  animation: fade-in-bottom 1.5s;
  animation-fill-mode: backwards;
}
.cont .card .front {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 15px;
  background-color: white;
  z-index: 99999;
  overflow: hidden;
}
.cont .card .front .img-cont {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.cont .card .front .img-cont img {
  width: 100%;
  transform: translatey(-140px);
}
.cont .card .front .content-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 10px;
  font-family: monospace;
}
.cont .card .back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 15px;
  background-color: white;
  transform: rotatey(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: monospace;
}
.cont .card button {
  padding: 10px 20px;
  background-color: #14274e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.cont .card button::after {
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background-color: #14274e;
  z-index: -1;
  transition: 0.8s;
}
.cont .card button:hover {
  background-color: #0a1325;
}
.cont .card button:hover::after {
  transform: scale(1.5, 1.8);
  opacity: 0;
}

@keyframes fade-in-bottom {
  0% {
    transform: translatey(50px);
  }
  100% {
    transform: translatey(0);
  }
}
/*Magazine Section*/

a {
  text-decoration: none;
}

h1.main-title {
  font-size: 3em;
  margin-bottom: 0;
  text-shadow: none;
  font-family: Helvetica;
}

h3.title {
  font-size: 1.8em;
  margin-top: 10px;
  max-width: 250px;
}

.genre {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.6;
}

p.sub-title {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
  font-weight: lighter;
}

.container {
  width: 80vw;
  margin: auto;
}
@media (max-width: 980px) {
  .container {
    width: 100%;
  }
}

.news {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
}
@media (max-width: 980px) {
  .news {
    margin-left: 5%
    grid-template-rows: repeat(7, 30vw);
  }
}

.box {
  background-color: grey;
  border-radius: 10px;
  padding: 20px;
  color: white;
  position: relative;
}
@media (max-width: 980px) {
  .box {
    background-size: 120%;
  }
}

.read-btn {
  background-color: white;
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  transition: transform 0.2s ease-in-out;
}
.read-btn:hover {
  transform: translateX(5px);
}

.box {
  background-position: center;
  transition: box-shadow 0.2s ease-in-out;
}

.box1 {
  grid-column: 1/3;
  background-image: url(http://meraktakal.com/codepen/img7.png);
  box-shadow: 3px 3px 20px 0px rgba(59, 168, 163, 0.25);
}
@media (max-width: 980px) {
  .box1 {
    grid-column: 1/6;
    grid-row: 1/2;
  }
}
.box1:hover {
  box-shadow: 3px 3px 20px 0px rgba(59, 168, 163, 0.55);
}
.box1 .read-btn {
  color: #7bb0ad;
}

.box2 {
  grid-column: 3/4;
  grid-row: 1/3;
  background-image: url(http://meraktakal.com/codepen/img6.png);
  box-shadow: 3px 3px 20px 0px rgba(2, 48, 76, 0.25);
}
@media (max-width: 980px) {
  .box2 {
    grid-column: 1/6;
    grid-row: 2/3;
  }
}
.box2:hover {
  box-shadow: 3px 3px 20px 0px rgba(2, 48, 76, 0.55);
}
.box2 .read-btn {
  color: #152532;
}

.box3 {
  grid-column: 4/5;
  grid-row: 1/3;
  background-image: url(http://meraktakal.com/codepen/img2.png);
  box-shadow: 3px 3px 20px 0px rgba(73, 34, 2, 0.25);
}
@media (max-width: 980px) {
  .box3 {
    grid-column: 1/6;
    grid-row: 3/4;
  }
}
.box3:hover {
  box-shadow: 3px 3px 20px 0px rgba(73, 34, 2, 0.55);
}
.box3 .read-btn {
  color: #cd935b;
}

.box4 {
  grid-column: 1/2;
  grid-row: 2/4;
  background-image: url(http://meraktakal.com/codepen/img4.png);
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.25);
}
@media (max-width: 980px) {
  .box4 {
    grid-column: 1/6;
    grid-row: 4/5;
  }
}
.box4:hover {
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.55);
}
.box4 .read-btn {
  color: #43acc9;
}

.box5 {
  grid-column: 2/3;
  grid-row: 2/4;
  background-image: url(http://meraktakal.com/codepen/img5.png);
  box-shadow: 3px 3px 20px 0px rgba(255, 131, 199, 0.25);
}
@media (max-width: 980px) {
  .box5 {
    grid-column: 1/6;
    grid-row: 5/6;
  }
}
.box5:hover {
  box-shadow: 3px 3px 20px 0px rgba(255, 131, 199, 0.55);
}
.box5 .read-btn {
  color: #fea0a5;
}

.box6 {
  grid-column: 3/5;
  grid-row: 3/4;
  background-image: url(http://meraktakal.com/codepen/img1.png);
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.25);
}
@media (max-width: 980px) {
  .box6 {
    grid-column: 1/6;
    grid-row: 6/7;
  }
}
.box6:hover {
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.55);
}
.box6 .read-btn {
  color: #63bdfe;
}
/*Movie Section*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #0d0d0d;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  width: 100%;
  max-width: 680px;
  margin: 10px auto;
}

.box {
  width: 100%;
  background-color: #000;
  border: 1px solid #ffffff12;
  height: 100%;
  position: relative;
  padding: 1em;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 1em;
}

@media (max-width: 768px) {
  .box {
    grid-template-columns: repeat(auto-fit, minmax(40.333333%, 1fr));
  }
}

.box .item {
  height: 165px;
  background-color: #0d0d0d;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.box .item .item-poster {
  width: 90px;
  min-width: 90px;
  height: 125px;
  object-fit: cover;
  margin: 1em;
  z-index: 2;
  transition: 0.6s;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.78);
}

.box .item .item-poster img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.item:hover .item-poster {
  margin-bottom: 50px;
}

.item-data {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 20px;
  z-index: 2;
  letter-spacing: 0.011em;
}

.item-part {
  display: flex;
  font-size: 9px;
  align-self: flex-end;
  position: absolute;
  top: 2em;
  right: 2em;
}

.item-part .item-season {
  margin-right: 2px;
}

.item-part .item-season,
.item-part .item-episode {
  background-color: #ff000021;
  padding: 0.3em 0.5em;
  line-height: 1;
}

.item-part .item-season,
.item-part .item-episode,
.item-data h1,
.item-data p {
  color: antiquewhite;
}

.item-data h1 {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}

.item-data p {
  font-size: 0.7em;
  margin-bottom: 1em;
}

.item-rate {
  font-size: 0.7em;
  display: flex;
}

.item-rate .item-vote {
  color: #ffc107;
}

.item-rate .item-time {
  color: #a94444;
  margin-left: 1em;
}

.item-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  opacity: 0.17;
  transition: 0.5s;
  object-position: 0 30%;
}

.item:hover .item-bg {
  z-index: 3;
  opacity: 1;
}


/*Robot*/
#robot1{
  margin-top: 2vh;
  margin-bottom: 0px;
}
#robot {
  position: relative;
  top: 15%;
  left: 25%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 50vw;
  max-height: 80vh;
  margin: 0 auto;
}

#body {
  -webkit-animation: hover 1.1s ease-in-out 0s infinite alternate;
          animation: hover 1.1s ease-in-out 0s infinite alternate;
}

#head {
  -webkit-animation: hover 1.1s ease-in-out 0.05s infinite alternate;
          animation: hover 1.1s ease-in-out 0.05s infinite alternate;
}

#arms {
  -webkit-animation: hover 1.1s ease-in-out 0.1s infinite alternate;
          animation: hover 1.1s ease-in-out 0.1s infinite alternate;
}

#left_arm {
  transform-origin: center right;
  -webkit-animation: arms_bounce_left 1.1s ease-in-out 0s infinite alternate;
          animation: arms_bounce_left 1.1s ease-in-out 0s infinite alternate;
}

#right_arm {
  transform-origin: center left;
  -webkit-animation: arms_bounce_right 1.1s ease-in-out 0s infinite alternate;
          animation: arms_bounce_right 1.1s ease-in-out 0s infinite alternate;
}

#eyes ellipse {
  transform-origin: center center;
  -webkit-animation: eyes_blink 2s ease-out 0s infinite alternate;
          animation: eyes_blink 2s ease-out 0s infinite alternate;
}

#shadow {
  transform-origin: center center;
  -webkit-animation: shadow 1.1s ease-in-out 0s infinite alternate;
          animation: shadow 1.1s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes hover {
  0% {
    transform: translate3d(0, 80px, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes hover {
  0% {
    transform: translate3d(0, 80px, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
  }
}
@-webkit-keyframes shadow {
  0% {
    transform: translate3d(0, 0, 0) scale(1.5, 1.2);
    opacity: 0.4;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 0.2;
  }
}
@keyframes shadow {
  0% {
    transform: translate3d(0, 0, 0) scale(1.5, 1.2);
    opacity: 0.4;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 0.2;
  }
}
@-webkit-keyframes arms_bounce_left {
  0% {
    transform: translate3d(0, 80px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 30px, 0) rotate(-10deg);
  }
}
@keyframes arms_bounce_left {
  0% {
    transform: translate3d(0, 80px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 30px, 0) rotate(-10deg);
  }
}
@-webkit-keyframes arms_bounce_right {
  0% {
    transform: translate3d(0, 80px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 30px, 0) rotate(10deg);
  }
}
@keyframes arms_bounce_right {
  0% {
    transform: translate3d(0, 80px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 30px, 0) rotate(10deg);
  }
}
@-webkit-keyframes eyes_blink {
  0% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  95% {
    transform: scale(0.8, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes eyes_blink {
  0% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  95% {
    transform: scale(0.8, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
