 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    font-size: 10px;
}

::-webkit-scrollbar{
  display: none;
}

.card {
    margin-top: 10rem;
    margin-bottom: 10rem;
    background: rgba(35, 39, 42, 0.75);
    color: #333;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 50rem;
    min-height: 30rem;
    border-radius: 2rem;
}

.hero {
    display: flex;
    justify-content: center;
    pointer-events: none;
    transform: translateY(-50%);
}
.hero .img {
 width: 100px;
 transform: rotateZ(-45deg);
 transition: all 0.5s ease-in-out;
}

.card:hover .img{
  transform: rotateZ(15deg);
  filter: drop-shadow(0rem 1.5rem rgba(0, 0, 0, 0.5));
  transition: all 0.5s ease-in-out;
}

.title {
  transition: all 0.5 ease;
  transform-style: preserve-3d;
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
  color: #c4c3c7;
  line-height: 5rem;
  text-shadow: 0 5px rgba(0, 0, 0, 0.5);
}

.acc-container {
    padding: 4rem 2rem;
}
.acc-btn {
    width: 100%;
    color: #c3c4c7;
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.2s linear;
}
.acc-btn:after {
    color: #faea0c;
    float: right;
    transition: all 0.3s linear;
}
.acc-btn.is-open:after {
    transform: translateZ(15px) rotateZ(90deg) rotateY(15deg);
}
.acc-btn:hover, .acc-btn.is-open {
    color: #fff;
    font-weight: 400;
    transform: rotateY(15deg);
    transition: all 0.2s linear;
}

.acc-content {
    max-height: 0;
    color: rgba(255,255,255, .8);
    font-size: 1.5rem;
    margin: 0 2rem;
    padding-left: 1rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1px solid #2C2F33;
}



body
{
  margin:0px;
  padding:0px;
  font-family: "Open Sans", arial;
  background:url('https://static.tumblr.com/94eb957a00fd03c0c2f7d26decd71578/u1rhacw/osAmyyh1q/tumblr_static_tumblr_static_gaussian_blur_gradient_desktop_1680x943_wallpaper-393751.jpg');
  background-repeat: no-repeat;
  color:#fff;
  font-weight:300;

}


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.logo{
  
}

.settings {
  
  height:73px; 
  float:left;
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  background-repeat:no-repeat;
  width:250px;
  margin:0px;
 text-align: center;
font-size:20px;
font-family: 'Strait', sans-serif;

}






/* ScrolBar  */
.scrollbar
{

height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{

height: 90%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
/* Scrollbar End */ 




.fa-lg {
font-size: 1em;
  
}
.fa {
position: relative;
display: table-cell;
width: 55px;
height: 36px;
text-align: center;
top:12px; 
font-size:20px;

}



.main-menu:hover, nav.main-menu.expanded {
width:250px;
overflow:hidden;
opacity:1;

}

.main-menu {
background:#F7F7F7;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:55px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}

.main-menu>ul {
margin:7px 0;

}

.main-menu li {
position:relative;
display:block;
width:250px;
  


}

.main-menu li>a {
position:relative;
width:255px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#8a8a8a;
font-size: 13px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: 'Strait', sans-serif;
border-top:1px solid #f2f2f2;

text-shadow: 1px 1px 1px  #fff;  
}



.main-menu .nav-icon {
  
position:relative;
display:table-cell;
width:55px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;

}

.main-menu .nav-text  {
   
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu .share {
}



.main-menu .fb-like {

left: 180px;
position:absolute;
top: 15px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
  
}

.no-touch .scrollable.hover {
overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
  
}


/* Logo Hover Property */


.settings:hover, settings:focus {   
  background:url( https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

.settings:active, settings:focus {   
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}


a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;



}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
  
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;
}




/* Darker element side menu Start*/


.darkerli
{
background-color:#ededed;
text-transform:capitalize;  
}

.darkerlishadow
{
background-color:#ededed;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown
{
background-color:#ededed;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/




.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#00bbbb;
text-shadow: 0px 0px 0px; 
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}



.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cont .card-cont:hover .card {
  transform: rotatey(-180deg) translatey(-20px);
  box-shadow: 0 30px 30px #ccc;
}
.cont .card {
  width: 250px;
  height: 300px;
  transform-style: preserve-3d;
  position: relative;
  transition: all 1s, box-shadow 2.5s;
  border-radius: 20px;
  box-shadow: 0 0 60px #ccc;
  animation: fade-in-bottom 1.5s;
  animation-fill-mode: backwards;
}
.cont .card .front {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 15px;
  background-color: white;
  z-index: 99999;
  overflow: hidden;
}
.cont .card .front .img-cont {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.cont .card .front .img-cont img {
  width: 100%;
  transform: translatey(-140px);
}
.cont .card .front .content-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 10px;
  font-family: monospace;
}
.cont .card .back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 15px;
  background-color: white;
  transform: rotatey(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: monospace;
}
.cont .card button {
  padding: 10px 20px;
  background-color: #14274e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.cont .card button::after {
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background-color: #14274e;
  z-index: -1;
  transition: 0.8s;
}
.cont .card button:hover {
  background-color: #0a1325;
}
.cont .card button:hover::after {
  transform: scale(1.5, 1.8);
  opacity: 0;
}

@keyframes fade-in-bottom {
  0% {
    transform: translatey(50px);
  }
  100% {
    transform: translatey(0);
  }
}
/*Magazine Section*/

a {
  text-decoration: none;
}

h1.main-title {
  font-size: 3em;
  margin-bottom: 0;
  text-shadow: none;
  font-family: Helvetica;
}

h3.title {
  font-size: 1.8em;
  margin-top: 10px;
  max-width: 250px;
}

.genre {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.6;
}

p.sub-title {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
  font-weight: lighter;
}

.container {
  width: 960px;
  margin: auto;
}
@media (max-width: 980px) {
  .container {
    width: 100%;
  }
}

.news {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
}
@media (max-width: 980px) {
  .news {
    grid-template-rows: repeat(7, 200px);
  }
}

.box {
  background-color: grey;
  border-radius: 10px;
  padding: 20px;
  color: white;
  position: relative;
}
@media (max-width: 980px) {
  .box {
    background-size: 120%;
  }
}

.read-btn {
  background-color: white;
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  transition: transform 0.2s ease-in-out;
}
.read-btn:hover {
  transform: translateX(5px);
}

.box {
  background-position: center;
  transition: box-shadow 0.2s ease-in-out;
}

.box1 {
  grid-column: 1/3;
  background-image: url(http://meraktakal.com/codepen/img7.png);
  box-shadow: 3px 3px 20px 0px rgba(59, 168, 163, 0.25);
}
@media (max-width: 980px) {
  .box1 {
    grid-column: 1/6;
    grid-row: 1/2;
  }
}
.box1:hover {
  box-shadow: 3px 3px 20px 0px rgba(59, 168, 163, 0.55);
}
.box1 .read-btn {
  color: #7bb0ad;
}

.box2 {
  grid-column: 3/4;
  grid-row: 1/3;
  background-image: url(http://meraktakal.com/codepen/img6.png);
  box-shadow: 3px 3px 20px 0px rgba(2, 48, 76, 0.25);
}
@media (max-width: 980px) {
  .box2 {
    grid-column: 1/6;
    grid-row: 2/3;
  }
}
.box2:hover {
  box-shadow: 3px 3px 20px 0px rgba(2, 48, 76, 0.55);
}
.box2 .read-btn {
  color: #152532;
}

.box3 {
  grid-column: 4/5;
  grid-row: 1/3;
  background-image: url(http://meraktakal.com/codepen/img2.png);
  box-shadow: 3px 3px 20px 0px rgba(73, 34, 2, 0.25);
}
@media (max-width: 980px) {
  .box3 {
    grid-column: 1/6;
    grid-row: 3/4;
  }
}
.box3:hover {
  box-shadow: 3px 3px 20px 0px rgba(73, 34, 2, 0.55);
}
.box3 .read-btn {
  color: #cd935b;
}

.box4 {
  grid-column: 1/2;
  grid-row: 2/4;
  background-image: url(http://meraktakal.com/codepen/img4.png);
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.25);
}
@media (max-width: 980px) {
  .box4 {
    grid-column: 1/6;
    grid-row: 4/5;
  }
}
.box4:hover {
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.55);
}
.box4 .read-btn {
  color: #43acc9;
}

.box5 {
  grid-column: 2/3;
  grid-row: 2/4;
  background-image: url(http://meraktakal.com/codepen/img5.png);
  box-shadow: 3px 3px 20px 0px rgba(255, 131, 199, 0.25);
}
@media (max-width: 980px) {
  .box5 {
    grid-column: 1/6;
    grid-row: 5/6;
  }
}
.box5:hover {
  box-shadow: 3px 3px 20px 0px rgba(255, 131, 199, 0.55);
}
.box5 .read-btn {
  color: #fea0a5;
}

.box6 {
  grid-column: 3/5;
  grid-row: 3/4;
  background-image: url(http://meraktakal.com/codepen/img1.png);
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.25);
}
@media (max-width: 980px) {
  .box6 {
    grid-column: 1/6;
    grid-row: 6/7;
  }
}
.box6:hover {
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.55);
}
.box6 .read-btn {
  color: #63bdfe;
}
